<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>DAWNET INNOVATIONS</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="img/logo.png" rel="icon">
  

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">



  <style>
    
</style>

</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a class="navbar-brand d-flex align-items-center mx-" href="#" style="color: rgba(80,173,230,255)">
        <img src="img/logo.png" class="logo-holder" style="width: 100px; height: auto;">
        <p class="pt- ps-" style="font-size: 0.80rem; font-weight: bold; text-transform: uppercase;">
             <br>  <br> 
        </p>
    </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="index.html">HOME</a></li>
          <li><a href="about.html" >ABOUT</a></li>
          <li><a href="service.html" class="active fw-bold">SERVICES</a></li>  
          <li><a href="contact.html">CONTACT</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">
      <img src="img/ban5.jpg" alt="" class="hero-bg">

      <div class="container">
        <div class="row gy-4 justify-content-between">
          <div class="col-lg-4 order-lg-last hero-img" data-aos="zoom-out" data-aos-delay="100">
           
          </div>

          <div class="col-lg-6  d-flex flex-column justify-content-center" data-aos="fade-in">
            <h1> <spn class="text-white fw-bold">DAWNET INNOVATIONS</spn> SERVICES</h1>
            <!-- <p>  Driven by Innovation, Powered by Versatility            </p> -->
            <div class="d-flex">
           
            </div>
          </div>

        </div>
      </div>

 
    </section><!-- /Hero Section -->

    <!-- About Section -->


    <section class="section-container container " style="background-color: ;">
      
      
        <div class="container my-">
            
          <div id="features" class="features section">

            <div class="container">
      
              <div class="row gy-4">
      
                <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="100">
                  <div class="features-item">
                    
                    <h3><a href="" class="stretched-link">PORTFOLIO WEBSITE</a></h3>
                  </div>
                </div><!-- End Feature Item -->
      
                <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="200">
                  <div class="features-item">
                    
                    <h3><a href="" class="stretched-link">PERSONAL WEBSITE</a></h3>
                  </div>
                </div><!-- End Feature Item -->
      
                <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="300">
                  <div class="features-item">
                    
                    <h3><a href="" class="stretched-link">BUSINESS WEBSITE</a></h3>
                  </div>
                </div><!-- End Feature Item -->
      
                <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="400">
                  <div class="features-item">
                    
                    <h3><a href="" class="stretched-link">LANDING PAGES</a></h3>
                  </div>
                </div><!-- End Feature Item -->
      
                <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="500">
                  <div class="features-item">
                    
                    <h3><a href="" class="stretched-link">eCommerce WEBSITE</a></h3>
                  </div>
                </div><!-- End Feature Item -->
      
                <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="600">
                  <div class="features-item">
                    
                    <h3><a href="" class="stretched-link">CUSTOM WEBSITE</a></h3>
                  </div>
                </div><!-- End Feature Item -->
      
                <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="700">
                  <div class="features-item">
                    
                    <h3><a href="" class="stretched-link">BILLING SYSTEMS</a></h3>
                  </div>
                </div><!-- End Feature Item -->
      
                <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="800">
                  <div class="features-item">
                    
                    <h3><a href="" class="stretched-link">BUSINESS MANAGEMENT SYSTEMS</a></h3>
                  </div>
                </div><!-- End Feature Item -->
      
                
              </div>
      
            </div>
      
          </div><!-- /Features Section -->
      
        
      </div>

      <p>A portfolio website is a personal online space that showcases an individual's work, skills, and accomplishments, typically in a specific field such as design, photography, writing, or development. It serves as a digital resume, allowing visitors to view samples of previous projects, read testimonials, and learn more about the creator's background and expertise. A well-designed portfolio website is visually appealing, user-friendly, and optimized for various devices, helping professionals attract potential clients or employers and establish their online presence.</p>

      <br>
      <p>A company portfolio website is an online platform that highlights a business’s projects, services, and achievements. It serves as a marketing tool to showcase the company's expertise, portfolio of work, client testimonials, and case studies. The site typically includes sections such as an “About Us” page, service descriptions, a gallery of past projects, and contact information. A well-crafted company portfolio website enhances brand visibility, builds credibility, and helps attract potential clients or partners by effectively communicating the company’s value and unique offerings.</p>
      
      <br>
      <p>A business website is an online presence that represents a company and its offerings to potential customers, clients, and partners. It typically includes essential information such as the company’s mission, products or services, contact details, and customer testimonials. A business website can also feature a blog, e-commerce capabilities, and resources like FAQs or support pages. Its primary goals are to enhance brand visibility, provide essential information, facilitate communication, and drive sales or leads. A well-designed business website is user-friendly, mobile-responsive, and optimized for search engines to attract and engage visitors effectively.</p>
      
      <br>
      <p> A landing page is a standalone web page designed specifically to capture visitor information through a lead form or encourage a specific action, such as making a purchase or signing up for a newsletter. Unlike a homepage, which typically offers multiple navigation options, a landing page is focused and streamlined, often centered around a single offer or campaign. It includes persuasive elements such as compelling headlines, engaging visuals, and clear calls to action (CTAs) to drive conversions. Landing pages are commonly used in digital marketing campaigns to improve lead generation, increase sales, or promote special offers by targeting specific audiences and measuring performance effectively.</p>
      
      <br>
      <p>An e-commerce website is an online platform that enables businesses to sell products or services directly to consumers over the internet. It features a user-friendly interface that allows customers to browse products, view descriptions and images, and make purchases through a secure checkout process. E-commerce websites often include features such as shopping carts, payment gateways, customer reviews, and inventory management. They can cater to various business models, including B2C, B2B, and C2C. A well-designed e-commerce website aims to provide a seamless shopping experience, drive sales, and build customer loyalty through effective marketing strategies and excellent customer service.</p>
      
      <br>
      <p>A custom website is a personalized online solution built to reflect a client’s specific requirements and vision. We work closely with clients to understand their goals and preferences, allowing us to create a website that incorporates any desired features, functionalities, and design elements. From layout adjustments to the integration of unique tools, our development process is highly collaborative, ensuring that every aspect of the site aligns with the client’s expectations. Whether you need e-commerce capabilities, interactive elements, or a specific aesthetic, we’re committed to delivering a tailored website that meets your exact specifications and enhances your brand presence online.</p>
      
      <br>
      <p>Our custom billing system is designed to meet the unique needs of your company, providing a comprehensive solution for all your billing processes. We collaborate closely with you to understand your specific requirements and incorporate the features that matter most to your business. This can include functionalities such as automated invoice generation, flexible payment options, recurring billing, customizable reporting, and integration with existing accounting software. Our goal is to create a user-friendly system that enhances efficiency, reduces errors, and simplifies cash flow management. With our custom billing system, you’ll have a tailored solution that streamlines your billing operations and supports your business growth.</p>
      
      <br>
      <p>Our business management system is a comprehensive solution designed to streamline and simplify the management of all aspects of your business. We build a custom platform tailored to your specific needs, allowing you to efficiently handle operations such as project management, resource allocation, invoicing, customer relationship management, and performance tracking—all in one place. With user-friendly interfaces and intuitive features, our system enhances collaboration among teams and provides real-time insights into your business performance. By automating routine tasks and centralizing information, our business management system empowers you to focus on strategic growth and decision-making, making it easier than ever to manage your business effectively.</p>
      
      <br>
      <p></p>
      
      <br>
      <p></p>
      

               
  </main>

  <footer id="footer" class="footer dar-background">

    <div class="container my- text-white">
      <div class="container my- text-white">
        <div class="row">
          <div class="col-md my-4">
            <h3 class="text-white fw-bold">Quick Links</h3>
            <ul style="list-style-type: none; margin-left: -40px;"> <!-- Add this style -->
              <li><a class="btn fw-bold text-white" href="index.html">HOME</a></li>
              <li><a class="btn fw-bold text-white" href="about.html">ABOUT</a></li>
              <li><a class="btn fw-bold text-white" href="service.html"> SERVICE</a></li>
              
              <li><a class="btn fw-bold text-white" href="contact.html">CONTACT</a></li>
              <!-- Add more categories here -->
            </ul>
          </div>
    
          <div class="col-md my-4 text-">
            
            <div class="footer-social">
             <h3 class="fw-bold text- mx-"> Follow Us</h3>
              <ul style="list-style: none;" class="text- mx-5"> <!-- Add this style -->
                <li><a href="https://www.instagram.com/dawnetinnovations/profilecard/?igsh=bDN3b3Bibm9xZWZi" class="text-white" style="margin-left: -40px; text-decoration: none; font-size: 1.4rem;"><i class="fab fa-instagram" style="color: white; font-size: 1.4rem;"></i></a></li>
                <li><a href="" class="text-" style="margin-left: -40px; text-decoration: none; font-size: 1.4rem;"><i class="fab fa-facebook" style="color: white; font-size: 1.4rem;"></i></a></li>
                <li><a href="https://wa.me/917012756426" class="text-" style="margin-left: -40px; text-decoration: none; font-size: 1.4rem;"><i class="fa-brands fa-whatsapp" style="color: white; font-size: 1.4rem;"></i></a></li>
                
                <!-- Add more social icons and links here -->
              </ul>
            </div>
          </div>
    
          <div class="col-md my-4 text-black text-">
            <div>
              <h3 class="fw-bold">Contact Us</h3>
              <h4>Location</h4>
              <p>
              <a href="#" class=" text-white " style="text-decoration: none; ">address</a>
            </p>
              <h4>Email</h4> 
              <p>
              <a href="mailto:dawnetinnovations@gmail.com" style="text-decoration: none;" class="fw-light text-white">dawnetinnovations@gmail.com</a>
            </p>
              <h4>Phone</h4>
              <p>
              <a href="tel:+917012756426" style="text-decoration: none;" class="fw-light text-white">+91 7012756426</a>
            </p>
            </div>
                    
          </div>
        </div>
        <hr>
        <div class="row text-center">
          <div class="col-md-12 mb-2">
            <strong class="copyrights text-center text-  ">© 2024 DAWNET INNOVATIONS. All Rights Reserved </strong>
          </div>
        </div>
      </div>
    </div>

  </footer>

  



  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  
  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>